USE [master]
GO
/****** Object:  Database [HGH_Kargo]    Script Date: 17.12.2019 14:00:02 ******/
CREATE DATABASE [HGH_Kargo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HGH_Kargo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS01\MSSQL\DATA\HGH_Kargo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HGH_Kargo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS01\MSSQL\DATA\HGH_Kargo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HGH_Kargo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HGH_Kargo]
GO
/****** Object:  Table [dbo].[Fatura]    Script Date: 17.12.2019 14:00:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fatura](
	[kargo_id] [int] IDENTITY(100,1) NOT NULL,
	[takip_no] [nvarchar](20) NULL,
	[gtc] [nvarchar](11) NULL,
	[atc] [nvarchar](11) NULL,
	[gisim] [nvarchar](40) NULL,
	[aisim] [nvarchar](40) NULL,
	[gsoyad] [nvarchar](40) NULL,
	[asoyad] [nvarchar](40) NULL,
	[gtel] [varchar](11) NULL,
	[atel] [varchar](11) NULL,
	[gposta] [nvarchar](100) NULL,
	[aposta] [nvarchar](100) NULL,
	[gadres] [nvarchar](250) NULL,
	[aadres] [nvarchar](250) NULL,
	[tarih] [nvarchar](20) NULL,
	[notlar] [nvarchar](250) NULL,
	[ucret] [nvarchar](20) NULL,
	[yer] [nvarchar](20) NULL,
	[kargo_durum] [nvarchar](50) NULL,
	[yer_id] [int] NULL,
	[p_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[kargo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kargo_Durum]    Script Date: 17.12.2019 14:00:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kargo_Durum](
	[kargoDurum_id] [int] IDENTITY(200,1) NOT NULL,
	[kargo_id] [int] NULL,
	[kargo_durum] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[kargoDurum_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personel]    Script Date: 17.12.2019 14:00:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personel](
	[p_id] [int] IDENTITY(1000,1) NOT NULL,
	[ad] [nvarchar](20) NULL,
	[soyad] [nvarchar](20) NULL,
	[tc] [varchar](11) NULL,
	[tel] [varchar](11) NULL,
	[d_tarih] [nvarchar](20) NULL,
	[maas] [nvarchar](20) NULL,
	[gorev] [nvarchar](150) NULL,
	[durum] [nvarchar](80) NULL,
PRIMARY KEY CLUSTERED 
(
	[p_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yer]    Script Date: 17.12.2019 14:00:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yer](
	[yer_id] [int] IDENTITY(300,1) NOT NULL,
	[sehir] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[yer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Fatura]  WITH CHECK ADD FOREIGN KEY([p_id])
REFERENCES [dbo].[Personel] ([p_id])
GO
ALTER TABLE [dbo].[Fatura]  WITH CHECK ADD FOREIGN KEY([yer_id])
REFERENCES [dbo].[Yer] ([yer_id])
GO
ALTER TABLE [dbo].[Kargo_Durum]  WITH CHECK ADD FOREIGN KEY([kargo_id])
REFERENCES [dbo].[Fatura] ([kargo_id])
GO
USE [master]
GO
